body {
  font-family: 'Inter', sans-serif;
  margin: 0px;
  padding: 6px 12px;
}

#generate-sitemap {
  background-color: #0066FF;
  border: none;
  color: white;
  white-space: nowrap;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 100ms ease-in-out;
  margin: 6px 0;
}

#generate-sitemap:hover {
  background-color: #005AE1;
}

#export {
  background-color: #FFFFFF;
  border: none;
  color: #0066FF;
  text-decoration: none;
  display: none; /* Hidden by default */
  font-size: 14px;
  margin: 6px 0;
  cursor: pointer;
  padding: 0px 4px;
}

.arrow-icon {
  width: 16px;
  height: 12px;
  margin-left: 4px;
  vertical-align: middle;
  margin-top: -3px;
  transition: margin-left 100ms ease-in-out;
}

#export:hover .arrow-icon {
  margin-left: 6px;
}

.link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-decoration: none;
  border-left: 2px solid #0066FF;
  padding: 6px;
  margin: 12px 0;
  transition: background-color 50ms ease-in-out;
}

.link-wrapper:hover {
  background-color: #F4F4F4;
}

.link-title {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 0px;
}

.link-url {
  font-size: 14px;
  color: #8C8C8C;
}
